.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 120px;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#view,
#view2,
#view3,
#view4,
#view5,
#view6,
#viewLifespan,
#viewSalesVar {
  width: 100%;
  height: 100%;
  min-height: 400px;
}


